<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My CV</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="grid4.css">
	<link rel="stylesheet" type="text/css" href="1.css">
</head>

<body>
	<!-- <div class="container"> -->
		<div class="row">

			<div class="col-4">
				<div class="sidebar">
					<div class="sidebar-top">
						<div class="profile-image" style="background-image: url('{{ user.avatar }}');"></div>
					</div>
					<div class="profile">
						<h2>{{ user.fullname }}</h2>
					</div>

					<div class="profile">
						<h2>Personal info</h2>
						<p> <i class="fas fa-phone-alt"></i> {{ user.phone }}</p>
						<p> <i class="fas fa-envelope"></i> {{ user.email }}</p>
						<p> <i class="fas fa-map-marker-alt"></i> {{ user.address }}</p>
					</div>
					{% if pers %}
					<div class="profile skills">
						<h2>Personal Skills</h2>
						<p>
							{% for item in pers %}
							<span>{{ item.skill }}</span>
							{% endfor %}
						</p>
					</div>
					{% endif %}
					{% if hobby %}
					<div class="profile skills">
						<h2>Hobbis</h2>
						<p>
							{% for item in hobby %}
							<span>{{ item.skill }}</span>
							{% endfor %}
						</p>
					</div>
					{% endif %}

				</div>
			</div>
			<div class="col-8">
				<div id="content" class="content">
					{% if work %}
					<div class="block">
						<h1 class="heading"> Work Experience</h1>
						{% for item in work %}
						<div class="info">
							<p class="sub-heading">{{ item.name }}</p>
							<p class="duration">{{ item.start }} - {{ item.finish }}</p>
							<p>{{ item.profession }}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if inter %}
					<div class="block">
						<h1 class="heading">Intership</h1>
						{% for item in inter %}
						<div class="info">
							<p class="sub-heading">{{ item.name }}</p>
							<p class="duration">{{ item.start }} - {{ item.finish }}</p>
							<p>{{ item.profession }}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if edu %}
					<div class="block">
						<h1 class="heading">Education</h1>
						{% for item in edu %}
						<div class="info">
							<p class="sub-heading">{{ item.name }}</p>
							<p class="duration">{{ item.start }} - {{ item.finish }}</p>
							<p>{{ item.profession }}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if prof %}
					<div class="block">
						<h1 class="heading">Professional Skills</h1>
						<div class="skills">
							<p>
								{% for item in prof %}
								<span>{{ item.skill }}</span>
								{% endfor %}
							</p>
						</div>
					</div>
					{% endif %}

				</div>
			</div>
			
		</div>
	<!-- </div> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			let obj = $("#content").contents().find(".info");
			for (let i = 7; i < obj.length; i += 7) {
			$("<div style='page-break-after:always !important; display: inline-block; height: 120px; '>").insertAfter(obj[i]);
			}
		});
	</script>
</body>

</html>